/**
 * Created by chenm on 2016/7/14.
 */
@import '../variables.scss';

.root {
  background: $background-color;
  min-height: 900px;
  padding-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
  width: 800px;

  .btn__group {
    display: flex;
    flex-direction: row;
    padding: 30px 16px;

    >div {
      margin-right: 1em;
    }
  }
}
