
@import '../variables.scss';

.root {
  background: $primary-color;
}

.container {
  margin: 0 auto;
  padding: 50px 0;
  max-width: $max-content-width;
  display: flex;
  flex-direction: row;
  color: white;
}

.avatar {
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10px;
  h1 {
    margin: 0;
    font-size: 32px;
    font-weight: lighter;
  }
  p {
    margin: 0;
    font-size: 18px;
  }
}
