
@import '../variables.scss';

.item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px 0 18px;
  align-content: stretch;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
