
@import '../variables.scss';

.item {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px 0 18px;
  align-content: stretch;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainButton {
  margin-right: 12px;
}

.iconButtonWrap {
  position: absolute;
  right: 10px;
  top: 14px;
}
