
@import '../variables.scss';

.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 14px 0;
  max-width: $max-content-width;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .avatar {
    flex-basis: auto;
    flex-grow: 0;
    background-image: url('./avatar-default-s.png');
  }
  .text {
    flex-basis: 0;
    flex-grow: 1;
    padding-left: 8px;
    font-size: 18px;
  }
  .bubble {
    flex-basis: auto;
    flex-grow: 0;
    min-width: 16px;
    padding: 3px;
    background-color: $primary-color;
    color: $white-color;
    text-align: center;
    border-radius: 11px;
  }
}

.active {
  @extend .item;
  background-color: lighten($brand-color, 20%);
}

.action {
  margin: 0 14px;
  padding-top: 14px;
  display: flex;
  border-top: 2px solid $gray-lighter;
}
