@import '../variables.scss';

.link {
  display: inline-block;
  margin-left: 16px;
  padding: 3px 1px;
  text-decoration: none;
  font-size: 16px;
}

.link,
.link:active,
.link:visited {
  color: $white-color;
}

.link:hover {
  color: $brand-color;
}
