
@import '../variables.scss';

.root {

}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 14px;
  max-width: $max-content-width;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 0;
  flex-grow: 1;
  padding: 0 10px;
  border-left: 2px solid $gray-lighter;
  &:first-child {
    border-left: 0;
  }
  .number {
    font-size: 28px;
    color: $primary-color;
    flex-basis: 0;
  }
  .label {
    font-size: 14px;
    color: $gray-light;
    flex-basis: 0;
  }
}
