/**
 * Created by PolarisChen on 16/9/11.
 */

@import '../variables.scss';

.root {
  background: $primary-color;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 14px 0 18px;
  max-width: $max-content-width;
}

.brand {
  font-size: 28px;
}

.nav {
  float: right;
}
