
@import '../variables.scss';

body {
  background-color: $primary-color;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
  align-items: flex-start;
}

p {
  margin-bottom: 40px;
  color: $white-color;
  font-size: 18px;
}

a {
  color: $white-color;
}
